#divstyle {
    /* position: fixed; */
    width: 100%;
    height: 30px;
    display: flex;
    border: solid 2px;
    background-color: white;
    justify-content: center;
}

#divstyle > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#divstyle a {
    text-decoration: none;
    color: inherit; /* 링크 기본 색상 제거 */
}

#divstyle a:hover {
    color: gray; /* 필요하면 hover 스타일 추가 */
}