/* .background{
    background-color:blue;
} */

@font-face {
    font-family: "Ycomputer";
    font-weight: normal;
    src: url("./fonts/Ycomputer.ttf") format("truetype");
}

body {
    font-family: "Ycomputer";
    color: rgb(24, 20, 140);
}

#topManu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(116, 40, 214);
}

div #minLogoImg {
    height: 30px;
    width: auto;
    object-fit: cover;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgb(113, 21, 233), rgb(191, 101, 229), rgb(245, 227, 255), rgb(24, 20, 140));
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}

#contentDiv {
    margin-top: 140px;
    padding: 0% 20%;
}


.loginBtn {
    text-decoration: none;
    float: right;
    padding-right: 15%;
    color: rgba(24, 20, 140, 60%);
    font-weight: bold;
}

.loginBtn:hover {
    color: #fff;
}

/* 
#contentDiv:hover {
    box-shadow: 0px 0px 20px rgb(245,227,255);
} */

/* 로그인 관련 */

.loginBG {
    background-color: rgba(255, 255, 255, 30%);
    padding: 2% 5% 5% 5%;
    border-radius: 5px;
    margin: 0% auto;
    width: 30%;
    min-width: 250px;
    max-width: 400px;
}

.loginField{
    text-align: center;
}

.loginPass {
    width: 80%;
    height: 20px;
    border: 16px;
    border-radius: 4px;
    border-bottom: 1px solid #ddd;
    margin: 5px 5px;
}

#loginButton {
    margin-top: 20px;
    display: block; /* block 요소로 변경 */
    margin-left: auto; /* 왼쪽 마진 자동 조정 */
    margin-right: 0; /* 오른쪽 정렬 */
}

.signInBtn{
    float: left;
}

/* contact 관련 */

.contBG {
    background-color: rgba(255, 255, 255, 30%);
    padding: 2% 5% 8% 5%;
    border-radius: 5px;
    margin: 0% auto;
    width: 60%;
}

.contField{
    text-align: center;
}

.contTitle {
    width: 80%;
    height: 20px;
    border: 16px;
    border-radius: 4px 4px 4px 4px;
    border-bottom: 1px solid #ddd;
    margin: 5px auto;
    flex-direction : column;
}

.contMail {
    width: 80%;
    height: 20px;
    border: 16px;
    border-radius: 4px 4px 4px 4px;
    border-bottom: 1px solid #ddd;
    margin: 5px auto;
}

.contArea {
    width: 80%;
    height: 200px;
    border: 16px;
    border-radius: 4px 4px 4px 4px;
    border-bottom: 1px solid #ddd;
    margin: 5px auto;
}

#contButton {
    float: right;
    margin-top: 10px;
    margin-bottom: 0%;
}