/* .background{
    background-color:blue;
} */

#topManu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

div #minLogoImg{
    height: 30px;
    width: auto;
    object-fit: cover;
}

body{
    height: 100vh;
    background-image: linear-gradient(rgb(113,21,233), rgb(191,101,229), rgb(245,227,255),rgb(24,20,140));
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}

#contentDiv{
    margin-top: 120px;
    background-color: red;
    padding: 3% 20%;
}

#contentDiv:hover {
    background-color: purple;
}